/* ---------------------------------------------------------------------------------------------------------- */
/* Media Query */

@media(max-width: 800px) {
    .conteiner{
        /* margin: 10px;    */
        background-color: rgb(233, 232, 232);
        padding: 0%;
        padding-bottom: 170px;
        display: flex;
    
        /* border: 1px solid black; */
    
    }

    .logo {
        font-size: 40px;
        padding-bottom: 20px;
    }

    .texto {
        font-size: 18px;
    }

    .caixaLogin{
        padding: 6%;
        margin-left: -490px;
        margin-right: 100px;
    }

    input{
        width: 200px;
        height: 30px;

        margin-left: 20px;
    }

    #botao{
        width: 200px;
        height: 40px;
        margin-left: 20px;
        
        font-size: 20px;
    }

    #criarNovaConta{
        height: 45px;
        width: 190px;
        margin-left: 20px;
    
        font-size: 17px;
    }

    .erro{
        right: -20px;
    }
}

@media(max-width: 500px) {
    .conteiner{
        /* margin: 10px;    */
        background-color: rgb(233, 232, 232);
        padding: 0%;
        padding-bottom: 100%;
        display: flex;
    
        /* border: 1px solid black; */
    
    }

    .logo {
        font-size: 25px;
        padding-bottom: 20px;
    }

    .texto {
        font-size: 14px;
    }

    .caixaLogin{
        padding: 6%;
        margin-left: -950px;
        margin-right: 80px;
        margin-top: 190px;
    }

    .elementos{
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 620px;
    
        /* border: 1px solid black; */
    }

    input{
        width: 200px;
        height: 30px;

        margin-left: 20px;
    }

    #botao{
        width: 200px;
        height: 40px;
        margin-left: 20px;
        
        font-size: 20px;
    }

    #criarNovaConta{
        height: 45px;
        width: 190px;
        margin-left: 20px;
    
        font-size: 17px;
    }

    .erro{
        right: -20px;
    }
}