body{
    background-color: rgb(247, 247, 247); 
    margin: 0;
}

.conteiner{
    /* margin: 200px; */
    /* margin-top: 40px; */
    margin-left: 480px;
    margin-right: 480px;

    /* padding-top: 100px; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.box{
    margin-top: 40px;
    margin-left: 480px;
    margin-right: 480px;
    padding: 30px;

    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 10px 10px 30px black;

    justify-content: center;
    align-items: center;
    flex-flow: column;
}   

form{
    display: flex;
    flex-flow: column; 

    padding-top: 10px;
}

#botaoCadastrese{
    /* justify-content: center; */

    align-self: center;
    /* flex-basis: 10px; */
    width: 250px;
    height: 50px;

    border-radius: 10px;

    font-size: 20px;
    font-weight: 900;
    color: white;
    background-color: rgb(4, 170, 4);
    border: 1px solid rgb(4, 170, 4);
}

#botaoCadastrese:hover{
    background-color: rgb(5, 143, 5);
}

.titulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-self: flex-start;
    padding-left: 5px;
    margin-bottom: -1px;
}

.subtitulo{
    align-self: flex-start;
    display: inline;
    /* margin-top: -50px;*/
    padding-left: 5px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: rgb(112, 110, 110);

}

input{
    border: 1px solid rgb(148, 141, 141);

    width: 350px;
    height: 40px;

    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
}

.invalido{
    border: 1px solid red;
}

.erro{
    color: red;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -25px;
}

@media (max-width: 850px){
    .conteiner{
        margin-left: 280px;
        margin-right: 280px;       
    }
}